* {
    padding: 0;
    margin: 0;
}

body {
    width: 1260px;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

main {
    width: 85%;
}

header {
    width: 100%;
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
    text-align: right;
    padding-right: 90px;
    height: 100vh;
}

.banner-title {
    padding-top: 150px;
    color: #151414;
    font-weight: 700;
    font-size: 55px;

}

.banner-description {
    padding: 25px 0;
    font-size: 15px;
}

.btn {
    padding: 10px 20px;
    background-color: #F15B22;
    border: none;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
}

/* failure */
.my-failures {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.failure-img {}

.failure-img img {
    margin-left: 50px;
    height: 550px;
}

.failure-text {
    padding: 150px 50px 0 100px;
    width: 40%;

}

.section-title {
    font-weight: 700;
    font-size: 40px;
}

.description {
    padding: 35px 0 20px 0;
    font-weight: 400;
    font-size: 14px;
}

.failure-items li {
    font-weight: 400;
    font-size: 14px;
    list-style: none;
}

.failure-items li span {
    color: green;
    font-weight: 100;
}

/* my-plans */
.my-plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
}

.plans {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    margin: 40px 0px 0 0px;
}

.plans .plan {
    padding: 40px;
    margin: 5px;
}

.plans .plan img {
    height: 80px;
}

.plans .plan .section-title {
    font-weight: 700;
    font-size: 25px;
}

.plans .plan .description {
    padding-top: 10px;
}

/* mindset */
.mindset {
    background-image: url(../images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    overflow: hidden;

}

.mindset-content {
    color: #fff;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, #cd5221d3 10%, rgba(241, 91, 34, 0) 100%);
    padding: 60px 0 0 64px;

}

.mindset-content>.btn {
    margin-top: 30px;
    color: #F15B22;
    background-color: #fff;


}